<nav>
    <section>
        <a href="/"><img src="/images/default.png" alt=""></a>
        <p>We give World Information</p>
    </section>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/blogs/create">Add Blog</a></li>
    </ul>
</nav>